* {
    box-sizing:border-box;
  }
  
  body {
    border:3pxsoliddarkblue;
    font-family:"Segoe UI",Tahoma, Geneva,Verdana,sans-serif;
    padding:20px;
  }
  
  .event {
    text-align:center;
    font-weight:bold;
    font-size:30px;
  }
  .avalseats {
    text-align:center;
    font-size:20px;
  }
  .main-box {
    border:2pxsolidred;
    padding:20px;
    display:flex;
    align-items:center;
    justify-content:space-around;
  }
  .e1 {
    background-color:lightgreen;
  }
  .inner-box {
    border:2pxsolidgreen;
    padding:20px;
  }
  .finalinner {
    display:flex;
    justify-content:space-around;
    align-items:center;
  }
  
  